<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/w2ui/w2ui.min.css">
    <link rel="stylesheet" href="vendor/json-viewer/jquery.json-viewer.css">
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
<div id="container" style="width: 100%; height: 100%;"></div>
<script src="vendor/jquery-3.3.1.min.js"></script>
<script src="vendor/w2ui/w2ui.min.js"></script>
<script src="vendor/json-viewer/jquery.json-viewer.js"></script>

<script type="text/javascript">
    $(function () {
        var pstyle = 'border: 1px solid #dfdfdf; padding: 0px;';
        $('#container').w2layout({
            name: 'layout',
            panels: [
                { type: 'top', size : 35, style: pstyle, content: '<div id="toolbar"></div>' },
                { type: 'main', style: pstyle }
            ]
        });

        $('#toolbar').w2toolbar({
            name: 'toolbar',
            items: [
                {
                    type: 'button',
                    id: 'projects', text: 'Projects', icon: 'fa-table'
                },
                { type: 'break' },
                { type: 'button', id: 'item3', text: 'Nguyên vật liệu - thi công', icon: 'fa-beaker'},
                { type: 'break' },
                { type: 'drop',  id: 'item4', text: 'Báo giá', icon: 'fa-plus', count : 50,
                    html: '<div style="padding: 10px; line-height: 1.5">You can put any HTML in the drop down.<br>Include tables, images, etc.</div>'
                },
                { type: 'break', id: 'break3' },
                { type: 'spacer' },
                { type: 'menu-radio', id: 'item2', icon: 'fa-star',
                    text: function (item) {
                        var text = item.selected;
                        var el   = this.get('item2:' + item.selected);
                        // return 'Radio: ' + el.text;
                        return 'An Nguyen';
                    },
                    selected: 'id3',
                    items: [
                        { id: 'id1', text: 'Item 1', icon: 'fa-camera' },
                        { id: 'id2', text: 'Item 2', icon: 'fa-picture' },
                        { id: 'id3', text: 'Item 3', icon: 'fa-glass', count: 12 }
                    ]
                },
                { type: 'break' },
                { type: 'button',  id: 'item7',  text: 'Inbox', icon: 'fa-bell', count: 12 },
                { type: 'break' },
                { type: 'button',  id: 'item6',  text: '1.0.0', icon: 'fa-flag' }
            ]
        });

        w2ui.toolbar.on('click', function (event) {
            /*if(event.item && event.item.id === "projects" && event.subItem) {
                onClickMenuProjects(event.subItem);
                return;
            }*/

            if(event.item && event.item.id === "projects") {
                onClickMenuProjects();
                return;
            }

            console.log('EVENT: '+ event.type + ' TARGET: '+ event.target, event);
        });
        
        function onClickMenuProjects() {
            let url = "admin/components/views/projects";
            w2ui.layout.load('main', url , null, function () {});
        }
    });
</script>
</body>
</html>