<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#000000">
    <meta name="robots" content="INDEX,FOLLOW"/>
    <meta name="revisit-after" content="1 days"/>
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <style>
      .container {
          height: 800px;
          position: relative;
      }

      .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      }
  </style>
</head>
<body>
<div class="container">
    <div class="center">
        <img src="/images/500-error.png" style="width: 600px">
    </div>
</div>
</body>
</html>