<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://192.168.10.145:4915/vendor/socket.io.js"></script>
    <!--<script src="/vendor/socket.io.js"></script>-->
    <title>{{title}}</title>
</head>
<body>
<div id="content"></div>
<script type="text/javascript">
    let url = "http://192.168.10.145:4915/io";
    // let url = "http://localhost:4915/io";
    var socket = io(url, {
        transportOptions: {
            polling: {
                extraHeaders: {
                    'token': 'debug.fitin.vn'
                }
            }
        }
    });
    socket.on('connect', function(){
        console.log("connected")
    });
    socket.on('event', function(rs){
        console.log(rs);
        if(rs.event === 'onBuildQtRenovation') {
            let t = document.getElementById("content");
            if(t) {
                t.innerHTML += `<p>${JSON.stringify(rs.data)}</p>`
            }
        }
    });
    socket.on('disconnect', function(){
        console.log("dist connected")
    });
</script>
</body>
</html>