/* font */
@font-face {
   font-family: "ProximaNova";
   src: url("../fonts/ProximaNova-Regular.eot");
   src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"), url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}
 @font-face {
   font-family: "ProximaNova";
   src: url("../fonts/ProximaNova-RegularIt.eot");
   src: url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff"), url("../fonts/ProximaNova-RegularIt.ttf") format("truetype"), url("../fonts/ProximaNova-RegularIt.svg#ProximaNova-RegularIt") format("svg"), url("../fonts/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype");
   font-weight: normal;
   font-style: italic;
   font-display: block;
}
 @font-face {
   font-family: "ProximaNova";
   src: url("../fonts/ProximaNova-Semibold.eot");
   src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg"), url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype");
   font-weight: 600;
   font-style: normal;
   font-display: block;
}
 @font-face {
   font-family: "ProximaNova";
   src: url("../fonts/ProximaNova-SemiboldIt.eot");
   src: url("../fonts/ProximaNova-SemiboldIt.woff2") format("woff2"), url("../fonts/ProximaNova-SemiboldIt.woff") format("woff"), url("../fonts/ProximaNova-SemiboldIt.ttf") format("truetype"), url("../fonts/ProximaNova-SemiboldIt.svg#ProximaNova-SemiboldIt") format("svg"), url("../fonts/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype");
   font-weight: 600;
   font-style: italic;
   font-display: block;
}
 @font-face {
   font-family: "ProximaNova";
   src: url("../fonts/ProximaNova-Bold.eot");
   src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype");
   font-weight: bold;
   font-style: normal;
   font-display: block;
}
 @font-face {
   font-family: "ProximaNova";
   src: url("../fonts/ProximaNova-BoldIt.eot");
   src: url("../fonts/ProximaNova-BoldIt.woff2") format("woff2"), url("../fonts/ProximaNova-BoldIt.woff") format("woff"), url("../fonts/ProximaNova-BoldIt.ttf") format("truetype"), url("../fonts/ProximaNova-BoldIt.svg#ProximaNova-BoldIt") format("svg"), url("../fonts/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype");
   font-weight: bold;
   font-style: italic;
   font-display: block;
}
 @font-face {
   font-family: "ProximaNova-ThinIt";
   src: url("../fonts/ProximaNova-ThinIt.eot");
   src: url("../fonts/ProximaNova-ThinIt.woff2") format('woff2'), url("../fonts/ProximaNova-ThinIt.woff") format('woff'), url("../fonts/ProximaNova-ThinIt.ttf") format('truetype'), url("../fonts/ProximaNova-ThinIt.svg#ProximaNova-ThinIt") format('svg'), url("../fonts/ProximaNova-ThinIt.eot?#iefix") format('embedded-opentype');
   font-weight: normal;
   font-style: normal;
}
 
/* global */
.image-processing {
  background: url(../images/view-1.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.image-processing img {
  opacity: 0;
}

/* service-wp */
.service-wp {
  text-align: center;
  padding: 30px 15px;
  margin-top: 60px;
}
.service-wp .title {
  font-family: ProximaNova;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.24px;
  text-align: center;
  color: #5d461e;
}
.service-wp .service-block-top {
  width: 160px;
  height: 160px;
  box-shadow: inset 0 -1px 10px 0 rgba(173, 142, 59, 0.71);
  border-style: solid;
  border-width: 1px;
  /* border-image-source: linear-gradient(to bottom, #ebce54, #d3a02a);*/
  border-image-source: linear-gradient(to bottom, transparent, transparent);
  border-image-slice: 1;
  border-radius: 50%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 20px auto;
  padding: 15px;
}
.service-wp .service-block-top:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.service-wp .service-block-top .block-inner {
  /*background: linear-gradient(to right, #ebce54,#d3a02a);*/
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #ebce54, #d3a02a);
}
.service-wp .service-block-top .block-inner i {
  font-size: 40px;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -24px;
}
.service-wp .service-block-top .block-inner img {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  display: inline-block;
  width: 100%;
  margin: auto;
}
.service-wp .service-block-top .block-inner img.icon-telephone {
  max-width: 40px;
}
.service-wp .service-block-top .block-inner img.icon-dollar {
  max-width: 43px;
}
.service-wp .service-block-top .block-inner img.icon-bill {
  max-width: 30px;
}
.service-wp .service-block-top .block-inner img.icon-floor-plan {
  max-width: 40px;
  top: 37%;
}
.service-wp .service-block-top .block-inner img.icon-coach {
  max-width: 50px;
  top: 40%;
}
.service-wp .service-block-bt p {
  font-weight: 600;
  max-width: 80%;
  font-size: 16px;
  margin: auto;
}

/* info-base */
.info-base {
  margin-top: 100px;
  position: relative;
  padding-top: 200px;
}
.info-base .bg {
  position: absolute;
  height: 308px;
  overflow: hidden;
  top: 0;
  background-position: center;
  width: 100%;
}
.info-base .info {
  max-width: 600px;
  background: #e7c43c;
  position: relative;
  padding: 30px;
}
.info-base .b-1 {
  max-width: 190px;
  font-family: ProximaNova;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.24px;
  text-align: center;
  color: #5d461e;
}
.info-base .info-item {
  border-bottom: 1px solid #d8d8d8;
}
.info-base .label {
  display: inline-block;
  width: 49%;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  color: #070404;
}
.info-base .value {
  display: inline-block;
  width: 49%;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  color: #070404;
}

/* gallery */
.gallery {
  margin-top: 90px;
}
.gallery .title {
  font-family: ProximaNova;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.24px;
  text-align: center;
  color: #5d461e;
}
.gallery img {
  margin-top: 30px;
}

/* cart */
.cart {
  margin-top: 100px;
}
.cart .title {
  font-family: ProximaNova;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.24px;
  text-align: center;
  color: #5d461e;
}
.cart .table {
  margin-top: 30px;

  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #070404;
}
.cart .table tfoot,
.cart .table thead {
  background-color: #f6f6f6;

  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #7a7c80;
}
.cart .table tfoot td:last-child {
  font-size: 16px;
}
.cart .table img {
  width: 96px;
}
.cart .table p {
  margin-bottom: 0;
}
.cart .table td, .cart .table th {
  vertical-align: middle;
}

/* contact */
.contact {
  margin-top: 100px;
}
.contact .title {
  font-family: ProximaNova;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.24px;
  text-align: center;
  color: #5d461e;
}
.contact .desc {
  text-align: center;
  font-family: ProximaNova;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #4a4a4a;
}
.contact .content {
  background-color: #d49f0b;
  padding: 20px;
  margin-top: 30px;

  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #ffffff;
}
.contact .icon {
  margin-right: 16px;
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #f0e8d0;
  background-image: url(../images/orion-earth-globe@2x.png);
  background-position: center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.contact .icon.location {
  background-image: url(../images/orion-geo-fence@2x.png);
}
.contact .icon.phone {
  background-image: url(../images/phone@2x.png);
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-5 {
  width: 5% !important;
}

.w-10 {
  width: 10% !important;
}

.w-80 {
  width: 80% !important;
}

.group-name {
  margin-top: 30px;
  display: inline-block;
  background-color: #070404;
  padding: 6px 25px;
  position: relative;
  height: 35px;

  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
}
.group-name::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 0px solid transparent;
  border-left: 25px solid #070404;
  position: absolute;
  right: -25px;
  top: 0;
}
.cart .table {
  margin-top: 0;
}
.condition {
  margin-top: 40px;

  font-family: ProximaNova;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #070404;
}
.condition a {
  color: #070404;
}
.condition .title {
  font-family: ProximaNova;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.08;
  letter-spacing: 0.18px;
  color: #5d461e;
  text-align: left;
}
.contact a {
  color: #fff;
}
.main-title {
  font-family: ProximaNova;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.24px;
  text-align: center;
  color: #5d461e;
  margin: 0 auto;
}
.info-base {
  margin-top: 15px;
}

.logo {
  width: 125px !important;
  height: 59px !important;
}
.btn-mua-ngay {    
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  text-align: center;
  color: #fff;
  background: #000000;
  padding: 5px 15px;
}

.btn-mua-ngay:hover {
  text-decoration: none;
  color: #fff;
}