<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <style>
    body {
      margin: 0;
    }
    #my-chat-div {
      position: relative;
      width: 100%;
      height: 100vh;
      font-size: 0;
    }
    #hubspot-conversations-inline-iframe,
    #hubspot-conversations-inline-parent {
      margin: 0;
      width: 100%;
      border: none;
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="my-chat-div"></div>
  <script>
    function handleLoad() {
      try{
        window.hsConversationsSettings = {
          loadImmediately: false, // Allows you to manually load the widget using .load()
          inlineEmbedSelector: '#my-chat-div',
        };
        function onConversationsAPIReady() {
          console.log(
            `HubSpot Conversations API: ${window.HubSpotConversations}`,
            window.HubSpotConversations,
          );
          window.HubSpotConversations.widget.load();
        }
        if (window.HubSpotConversations) {
          onConversationsAPIReady();
        } else {
          /*
          Otherwise, callbacks can be added to the hsConversationsOnReady on the window object.
          These callbacks will be called once the external API has been initialized.
        */
          window.hsConversationsOnReady = [onConversationsAPIReady];
        }
      } catch(error) {
        console.log(error);
      }
    }
  </script>
  <script src="https://js.hs-scripts.com/{{data.hubSpotId}}.js" onload="handleLoad()"></script>
</body>
</html>