<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<main>
    <section class="header">
        <div class="container">
            <div class="d-flex justify-content-center">
                <img src="images/rectangle.png" alt="">
                <img src="images/fitinvn-10-x@2x.png" alt="fitin" class="logo"
                     style="position: absolute;top: 30px;max-width: 125px;height: auto;">
            </div>
        </div>
    </section>
    <section class="service-wp">
        <h2 class="title">TẠI SAO NÊN CHỌN FITIN?</h2>
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-4 col-sm-6">
                    <div class="service-block-top">
                        <div class="block-inner"><img src="images/free-dollar-icon.png" class="icon-dollar"></div>
                    </div>
                    <div class="service-block-bt">
                        <p>
                            Tư vấn thiết kế nội thất
                            100% miễn phí
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block-top">
                        <div class="block-inner"><img src="images/3-d-home.png" class="icon-telephone"></div>
                    </div>
                    <div class="service-block-bt">
                        <p>
                            Trải nghiệm 3D ngôi nhà trong mơ
                            chỉ 30 phút
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-block-top">
                        <div class="block-inner"><img src="images/bill-icon.png" class="icon-bill"></div>
                    </div>
                    <div class="service-block-bt">
                        <p>Nhận ngay thiết kế tuỳ chỉnh &amp; báo giá trong 24h</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 offset-md-2">
                    <div class="service-block-top">
                        <div class="block-inner"><img src="images/floor-plan-icon.png" class="icon-floor-plan"></div>
                    </div>
                    <div class="service-block-bt">
                        <p>200+ thiết kế mẫu cho hơn 50 dự án chung cư</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="service-block-top">
                        <div class="block-inner"><img src="images/coach-icon.png" class="icon-coach"></div>
                    </div>
                    <div class="service-block-bt">
                        <p>
                            3000+ sản phẩm nội thất
                            trong nước và nhập khẩu
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info-base">
        <div class="bg image-processing" style="background-image: url(images/view-1.png);">
            <img src="images/view-1.png" class="img-fluid"></div>
        <div class="container">
            <div class="info m-auto">
                <div class="row">
                    <div class="col-5">
                        <div class="b-1">
                            Thông tin <br/>cơ bản
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="info-item">
                            <div class="label">Loại :</div>
                            <div class="value">{{data.layout_name}}</div>
                        </div>
                        <div class="info-item">
                            <div class="label">Diện tích</div>
                            <div class="value">{{data.area}} m2</div>
                        </div>
                        <div class="info-item">
                            <div class="label">Dự án</div>
                            <div class="value">{{data.project_name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gallery">
        <div class="title">HÌNH ẢNH TỔNG QUAN</div>
        <div class="container">
            {{#each data.image_urls}}
                <img src="{{this}}" alt="bedroom-a" class="img-fluid">
            {{/each}}
        </div>
    </section>
    <section class="cart">
        <div class="title">DANH SÁCH SẢN PHẨM TRONG THIẾT KẾ</div>
        <div class="container">
            {{#each data.cart}}
                <table class="table border text-center">
                    <thead>
                    <tr>
                        <td class="w-20"><img class="img-fluid" src="{{this.merchant_logo}}"
                                              alt="{{this.merchant_name}}"></td>
                        <td class="text-left w-30">Thông tin Sản phẩm</td>
                        <td class="w-5">SL</td>
                        <td class="w-20">Đơn giá</td>
                        <td class="w-5">Giảm</td>
                        <td class="w-20">Thành tiền</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each this.product_list}}
                        <tr>
                            <td>
                                <img class="img-fluid" src="{{this.thumbnail_url}}" alt="{{this.name}}">
                            </td>
                            <td class="text-left">
                                <p><b>{{this.name}}</b></p>
                                <p>SKU: {{this.sku}}</p>
                            </td>
                            <td>{{this.quantity}}</td>
                            <td>{{formatVND this.market_price}}</td>
                            <td>{{../../data.discount}}</td>
                            <td>{{formatVND this.total_price}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">TỔNG CỘNG</td>
                        <td>{{formatVND this.sum_price}} VNĐ</td>
                    </tr>
                    </tfoot>
                </table>
            {{/each}}

            {{#exists data.services_fee}}
                <table class="table border text-center">
                    <thead>
                    <tr>
                        <td class="w-20"><img class="img-fluid" src="{{data.services_fee.merchant_logo}}"
                                              alt="{{data.services_fee.merchant_name}}"></td>
                        <td class="text-left w-30">Thông tin Sản phẩm</td>
                        <td class="w-5">SL</td>
                        <td class="w-20">Đơn giá</td>
                        <td class="w-5">Giảm</td>
                        <td class="w-20">Thành tiền</td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data.services_fee.product_list}}
                        <tr>
                            <td>
                                <img class="img-fluid" src="{{this.thumbnail_url}}" alt="{{this.name}}">
                            </td>
                            <td class="text-left">
                                <p><b>{{this.name}}</b></p>
                            </td>
                            <td>{{this.quantity}}</td>
                            <td>{{formatVND this.market_price}}</td>
                            <td>{{../data.discount}}</td>
                            <td>{{formatVND this.total_price}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="5">TỔNG CỘNG</td>
                        <td>{{formatVND data.services_fee.sum_price}} VNĐ</td>
                    </tr>
                    </tfoot>
                </table>
            {{/exists}}
            <table class="table border text-center w-100">
                <tfoot>
                <tr>
                    <td class="w-80 text-right">TỔNG TIỀN CẦN THANH TOÁN</td>
                    <td class="w-20 text-right"><strong>{{formatVND data.quotation_price}} VNĐ</strong></td>
                </tr>
                </tfoot>
                <tr>
                    <td class="w-80 text-right">TỔNG TIỀN</td>
                    <td class="w-20 text-right"><strong>{{formatVND data.quotation_market_price}} VNĐ</strong></td>
                </tr>
                <tr>
                    <td class="w-80 text-right">CHIẾT KHẤU GIẢM</td>
                    <td class="w-20 text-right" style="color: red"><strong>{{formatVND data.quotation_discount_price}}
                        VNĐ</strong></td>
                </tr>
            </table>
        </div>
        {{#isDiscount data.has_discount}}
        <div class="container">
            <br>
            <strong>Điều khoản & Điều kiện ưu đãi {{data.discount}} nội thất trọn gói FITIN</strong>
            <ul>
                <li>
                    Ưu đãi {{data.discount}} Nội Thất Trọn Gói FITIN chỉ áp dụng cho khách hàng sở hữu căn hộ thuộc dự
                    án & thanh toán trực tiếp với FITIN.
                </li>
                <li>Thời gian áp dụng từ 10/03/2020 đến hết ngày 30/04/2020.</li>
                <li>Khách hàng thanh toán 10% sau khi xác nhận bản Thiết Kế Nội Thất FITIN.</li>
                <li>Bảng báo giá có hiệu lực 72 giờ kể từ khi thông tin được kết xuất & không bao gồm VAT.</li>
                <li>FITIN bảo lưu quyền duy nhất và tuyệt đối để thay đổi hoặc kết thúc chương trình ưu đãi bất cứ lúc
                    nào mà không cần thông báo trước.
                </li>
                <li>Vui lòng liên hệ hotline <b>1900 3008</b> để được hỗ trợ tư vấn thêm.</li>
            </ul>
        </div>
        {{else}}
            <div class="container condition">
                <div class="title">*Điều khoản & Điều kiện ưu đãi nội thất trọn gói FITIN</div>
                <ul>
                    <li>Khách hàng thanh toán 10% sau khi xác nhận bản Thiết Kế Nội Thất FITIN.</li>
                    <li>Bảng báo giá có hiệu lực 72 giờ kể từ khi thông tin được kết xuất & không bao gồm VAT.</li>
                    <li>FITIN bảo lưu quyền duy nhất và tuyệt đối để thay đổi hoặc kết thúc chương trình ưu đãi bất cứ lúc
                        nào mà không cần thông báo trước.
                    </li>
                    <li>Vui lòng liên hệ hotline <b><a href="tel:1900 3008" target="_blank">1900 3008</a></b> để được hỗ trợ tư vấn thêm.</li>
                </ul>
            </div>
        {{/isDiscount}}
    </section>
    <section class="contact">
        <div class="title">THÔNG TIN LIÊN HỆ</div>
        <div class="desc">CÔNG TY CỔ PHẦN CÔNG NGHỆ FITIN.VN</div>
        <div class="content">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-3 d-flex align-items-center">
                        <div class="icon icon-web"></div>
                        www.fitin.vn
                    </div>
                    <div class="col-6 d-flex align-items-center">
                        <div class="icon icon-location"></div>
                        Ree Tower, tầng 8, số 9 Đoàn Văn Bơ, p.12, q4
                    </div>
                    <div class="col-3 d-flex align-items-center">
                        <div class="icon icon-phone"></div>
                        1900 3008
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>