<script>
    // search operator: 'between', 'begins with', 'contains', 'ends with'
    (function () {
        let config = {
            layout: {
                name: 'layout-{{name}}',
                padding: 5,
                panels: [
                    {type: 'left', size: '50%', resizable: false, minSize: 300, title: 'Thông tin chi tiết'},
                    {type: 'main', minSize: 300, title: 'Unity JSON Layout'}
                ]
            },
            form: {
                name: 'form-{{name}}',
                recid: {{data.id}},
                toolbar: {
                    items: [
                        {id: 'btSelectLayout', type: 'button', caption: 'Chọn layout khác', img: 'icon-folder'}
                    ],
                    onClick: function (event) {
                        if (event.target === 'btSelectLayout') {
                            openPopup();
                        }
                    }
                },
                fields: [
                    {
                        name: 'recid',
                        type: 'text',
                        html: {caption: 'ID', attr: 'size="10" readonly'}
                    },
                    {
                        name: 'name',
                        type: 'text',
                        required: true,
                        html: {caption: 'Tên layout', attr: 'size="40" maxlength="40"'}
                    },
                    {
                        name: 'style_name',
                        type: 'text',
                        required: true,
                        html: {caption: 'Phong cách', attr: 'size="40" maxlength="80"'}
                    },
                    {
                        name: 'bed_room_num',
                        type: 'number',
                        required: true,
                        html: {caption: 'Phòng ngủ', attr: 'size="40" maxlength="40"'}
                    },
                    {
                        name: 'area',
                        type: 'float',
                        required: true,
                        html: {caption: 'Diện tích', attr: 'size="30"'}
                    },
                    {
                        name: 'price',
                        type: 'number',
                        html: {caption: 'Báo giá trọn gói', attr: 'size="10"'}
                    },
                    {
                        name: 'fitinfurniture_fee',
                        type: 'number',
                        html: {caption: 'Giá vật tư - nguyên liệu', attr: 'size="10"'}
                    },
                    {
                        name: 'construction_fee',
                        type: 'number',
                        html: {caption: 'Giá thi công', attr: 'size="10"'}
                    }
                ],
                actions: {
                    Reset: function () {
                        // this.clear();
                        w2alert('reset');
                    },
                    Save: function () {
                        var errors = this.validate();
                        if (errors.length > 0) return;
                        if (this.recid === 0) {
                            // create new
                            // this.clear();
                        } else {
                            // update
                            // this.clear();
                            w2alert('save');
                        }
                    }
                }
            },
            grid: {
                name: 'popup-grid-{{name}}',
                limit: 100,
                show: {
                    header: false,
                    toolbar: true,
                    footer: true,
                    toolbarDelete: false
                },
                multiSearch: false,
                searches: [
                    {field: 'name', caption: 'Name', type: 'text', operator: "contains"},
                    {field: 'layout_id', caption: 'ID ', type: 'int'}
                ],
                columns: [
                    {field: 'layout_id', caption: 'ID', size: '80px', sortable: true, searchable: true},
                    {field: 'name', caption: 'Tên căn hộ', size: '100%', sortable: true, searchable: true},
                    {field: 'area', caption: 'm2', size: '80px', render: 'float'},
                    {
                        field: 'bed_room_num',
                        caption: 'Số phòng ngủ',
                        size: '120px',
                        render: 'int',
                        sortable: true
                    }
                ],
                records: [],
                onReload: function (event) {
                    w2ui[config.grid.name].load('admin/components/data/projects/{{data.project_id}}/layouts');
                }
            }
        };

        // initialization
        $(function () {
            let componentLayout = w2ui[config.layout.name];
            if (!componentLayout) {
                // initialization in memory
                componentLayout = $().w2layout(config.layout);
            }

            let form = w2ui[config.form.name];
            if (!form) {
                // initialization in memory
                form = $().w2form(config.form)
            }

            if (!w2ui[config.grid.name]) {
                // initialization in memory
                $().w2grid(config.grid);
            }

            // render component layout detail
            componentLayout.html('left', form);
            // render component json-viewer
            componentLayout.html('main', '<pre id="json-viewer"></pre>');
            // finally
            // mount component layout
            w2ui.layout.html('main', componentLayout);
            //
            //
            setTimeout(() => {
                $('#json-viewer').jsonViewer({{{json data.unity_layout}}}, {
                    rootCollapsable: false,
                    collapsed: true,
                    withLinks: false,
                    withQuotes: false
                });
            }, 0);


            form.record = {
                recid: {{data.id}},
                name: '{{data.name}}',
                bed_room_num: {{data.bed_room_num}},
                area: {{data.area}},
                price: {{data.price}},
                style_name: '{{data.style_name}}',
                fitinfurniture_fee: {{data.fitinfurniture_fee}},
                construction_fee: {{data.construction_fee}},
                image: '{{data.image}}'
            }
        });

        function openPopup() {
            w2popup.open({
                title: 'Chọn layout khác',
                width: 900,
                height: 600,
                showMax: true,
                body: '<div id="popup-layout-list" style="position: absolute; left: 5px; top: 5px; right: 5px; bottom: 5px;"></div>',
                onOpen: function (event) {
                    event.onComplete = function () {
                        $('#w2ui-popup #popup-layout-list').w2render(config.grid.name);
                        let grid = w2ui[config.grid.name];
                        if (grid) {
                            grid.load('admin/components/data/projects/{{data.project_id}}/layouts');
                        }
                    };
                },
                onToggle: function (event) {
                    event.onComplete = function () {
                        w2ui.layout.resize();
                    }
                }
            });
        }
    })();
</script>
