<pre id="json-viewer"></pre>
<script>
    // initialization
    $(function () {
        $('#json-viewer').jsonViewer({{{json data}}}, {
            rootCollapsable: false,
            collapsed: true,
            withLinks: false,
            withQuotes: false
        });
    });
</script>

