<script>
    // widget configuration
    var config = {
        layout: {
            name: 'layout-{{name}}',
            padding: 4,
            panels: [
                {type: 'left', size: '60%', resizable: false, minSize: 300},
                {type: 'main', minSize: 300}
            ]
        },
        grid: {
            name: 'grid-{{name}}',
            show: {
                toolbar: true,
                toolbarDelete: true
            },
            show: {
                toolbar: true,
                footer: true,
                toolbarDelete: false
            },
            multiSearch: false,
            searches: [
                { field: 'name', caption: 'Name', type: 'text' },
                { field: 'layout_id', caption: 'Layout ID ', type: 'int' }
            ],
            columns: [
                {field: 'layout_id' , caption: 'id', size: '80px', sortable: true, searchable: true},
                {field: 'name', caption: 'Tên căn hộ', size: '100%', sortable: true, searchable: true},
                {field: 'style_name', caption: 'Phong cách', size: '180px'},
                {field: 'area', caption: 'm2', size: '80px', render: 'float'},
                {field: 'bed_room_num', caption: 'P.ngủ', size: '60px', render: 'int', sortable: true, searchable: true},
                {field: 'price', caption: 'Giá nội thất', size: '100px', render: 'number'},
                {field: 'construction_fee', caption: 'Giá thi công', size: '100px', render: 'number'},
                {field: 'fitinfurniture_fee', caption: 'Giá vật tư', size: '100px', render: 'number'}
            ],
            records: [],
            onClick: function (event) {
                var grid = this;
                var form = w2ui.form;e
                console.log(event);
                event.onComplete = function () {
                    var sel = grid.getSelection();
                    console.log(sel);
                    if (sel.length === 1) {
                        form.recid = sel[0];
                        form.record = $.extend(true, {}, grid.get(sel[0]));
                        form.refresh();
                    } else {
                        form.clear();
                    }
                }
            }
        },
        form: {
            header: 'Edit Record',
            name: 'form',
            fields: [
                {name: 'recid', type: 'text', html: {caption: 'ID', attr: 'size="10" readonly'}},
                {
                    name: 'fname',
                    type: 'text',
                    required: true,
                    html: {caption: 'First Name', attr: 'size="40" maxlength="40"'}
                },
                {
                    name: 'lname',
                    type: 'text',
                    required: true,
                    html: {caption: 'Last Name', attr: 'size="40" maxlength="40"'}
                },
                {name: 'email', type: 'email', html: {caption: 'Email', attr: 'size="30"'}},
                {name: 'sdate', type: 'date', html: {caption: 'Date', attr: 'size="10"'}}
            ],
            actions: {
                Reset: function () {
                    this.clear();
                },
                Save: function () {
                    var errors = this.validate();
                    if (errors.length > 0) return;
                    if (this.recid === 0) {
                        w2ui.grid.add($.extend(true, {recid: w2ui.grid.records.length + 1}, this.record));
                        w2ui.grid.selectNone();
                        this.clear();
                    } else {
                        w2ui.grid.set(this.recid, this.record);
                        w2ui.grid.selectNone();
                        this.clear();
                    }
                }
            }
        }
    };
    // initialization
    $(function () {
        let componentLayout = w2ui[config.layout.name];
        if(!componentLayout) {
            componentLayout = $().w2layout(config.layout);
        }

        let grid = w2ui[config.grid.name];
        if(!grid) {
            grid = $().w2grid(config.grid)
        }
        //
        let form = w2ui['form'];
        if(!form) {
            form = $().w2form(config.form)
        }

        // render component grid
        componentLayout.html('left', grid);
        // render component form
        componentLayout.html('main', form);
        // finally
        // mount component layout
        w2ui.layout.html('main', componentLayout);
        //
        //
        grid.load('admin/components/data/projects');

    });

    setTimeout(() => {
        // w2ui.layout.content('s_left', $().w2grid(config.grid));
        // w2ui["s_layout"].content('s_main', $().c(config.form));
        // w2ui["s_layout"].content('s_main', "dis me may");
        // w2ui["project_layout"].html('main', $().w2grid(config.grid));
    }, 0);

</script>

