<script>
    // widget configuration
    /*
    url  : {
                get    : 'admin/components/data/projects',
                remove : 'admin/components/data/projects',
                save   : 'admin/components/data/projects'
            },
     */
    var config = {
        layout: {
            name: 'layout-{{name}}',
            padding: 4,
            panels: [
                {type: 'left', size: '50%', resizable: false, minSize: 300},
                {type: 'main', minSize: 300}
            ]
        },
        grid: {
            name: 'grid-{{name}}',
            header: 'Danh sách các dự án',
            limit : 1000,
            show: {
                header : true,
                toolbar: true,
                footer: true,
                toolbarDelete: false
            },
            multiSearch: false,
            columns: [
                {field: 'project_id' , caption: 'id', size: '80px', sortable: true, searchable: true},
                {field: 'project_name', caption: 'Tên dự án', size: '100%', sortable: true, searchable: true},
                {field: 'city_name', caption: 'Thành phố', size: '180px'},
                {field: 'district_name', caption: 'Quận', size: '80px'}
            ],
            searches: [
                { field: 'project_name', caption: 'Project Name', type: 'text', operator : "contains"},
                { field: 'project_id', caption: 'Project ID ', type: 'int' }
            ],
            records: [],
            onClick: function (event) {
                let grid = this;
                let grid2 = w2ui[config.grid2.name];
                console.log(event);
                event.onComplete = function () {
                    var sel = grid.getSelection();
                    console.log(sel);
                    if (sel.length === 1) {
                        let projectID = sel[0];
                        grid2.load('admin/components/data/projects/' + projectID + '/layouts')
                    } else {
                        grid2.clear();
                    }
                }
            }
        },
        grid2: {
            name: 'grid2-{{name}}',
            limit : 100,
            header: 'Layouts của dự án',
            show: {
                header: true,
                toolbar: true,
                footer: true,
                toolbarDelete: false
            },
            multiSearch: false,
            columns: [
                {field: 'layout_id' , caption: 'id', size: '80px', sortable: true, searchable: true},
                {field: 'name', caption: 'Tên căn hộ', size: '100%', sortable: true, searchable: true},
                {field: 'area', caption: 'm2', size: '80px', render: 'float'},
                {field: 'bed_room_num', caption: 'P.ngủ', size: '60px', render: 'int', sortable: true, searchable: true},
                {field: 'price', caption: 'Giá nội thất', size: '100px', render: 'number'},
            ],
            searches: [
                { field: 'name', caption: 'Name', type: 'text' , operator : "contains"},
                { field: 'layout_id', caption: 'Project ID ', type: 'int' }
            ],
            records: [],
            onClick: function (event) {
                let grid2 = this;
                console.log(event);
                event.onComplete = function () {
                    var sel = grid2.getSelection();
                    console.log(sel);
                    if (sel.length === 1) {
                        let layoutId = sel[0];
                        w2ui.layout.load('main', 'admin/components/views/layouts/json/' + layoutId);
                    } else {
                        // grid2.clear();
                    }
                }
            }
        },
    };
    // initialization
    $(function () {
        let componentLayout = w2ui[config.layout.name];
        if(!componentLayout) {
            componentLayout = $().w2layout(config.layout);
        }

        let grid = w2ui[config.grid.name];
        if(!grid) {
            grid = $().w2grid(config.grid)
        }
        //
        let grid2 = w2ui[config.grid2.name];
        if(!grid2) {
            grid2 = $().w2grid(config.grid2)
        }

        // render component grid : projects list
        componentLayout.html('left', grid);
        // render component grid2 : layouts list
        componentLayout.html('main', grid2);
        // finally
        // mount component layout
        w2ui.layout.html('main', componentLayout);
        //
        //
        grid.load('admin/components/data/projects');

    });

    setTimeout(() => {
        // w2ui.layout.content('s_left', $().w2grid(config.grid));
        // w2ui["s_layout"].content('s_main', $().c(config.form));
        // w2ui["s_layout"].content('s_main', "dis me may");
        // w2ui["project_layout"].html('main', $().w2grid(config.grid));
    }, 0);




</script>

